*{margin:0;padding:0;box-sizing: border-box;}

:root {
    --main-color: rgba(255, 255, 0, 0.521);
    --dark: #0c1023;
    --dark-light:rgba(0, 129, 58, 0.596);
    --white: white;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    scroll-behavior: smooth; 
    
}
body{
    background-color: var(--dark-light)
}

section{
    width: 60%;
    margin: 10px auto;
    display:flex;
    flex-direction:column;  
    border-bottom:3px solid black; 
     
}
.receta{
    display: flex;
    flex-direction: column;
}
.receta h1{    
    text-align: center;
    margin-bottom: 20px;   
}

.receta h2{
    text-align: center;
    margin: 30px;
}

.receta img{    
   align-self: center;
   width: 300px;
    height:225px;
    margin: 10px;
    border-radius: 5px;


}
.receta h3{    
    text-align: center;
    margin-bottom: 20px;   
}
.receta ul{
    align-self: center;
}

.receta p{
    text-align: justify;
    margin-top: 10px;
}


/*Checkbox*/
.list-group{
 width: 180px;
 border-radius: 10px;
 padding: auto;
 margin-bottom: 20px
 
}
.list-group-item{
    background-color: #c8c8c846
}



@media screen and (max-width: 600px){

    section{
        width: 90%;
        margin: 10px auto;
                 
    }



}