   {{>header}}
   
   <!-----------------------CENA CUERPO*------------------------------------>
    <section id="cena" class="cena container">
        <h1>&mdash;Cena&mdash;</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col receta">
                <div class="card">
                    <img src="https://srecetas.es/system/images/902/full.61293.jpg" class="card-img-top" alt="foto de tarta de queso, zuquini y panceta sin gluten">
                    <div class="card-body">
                        <h3 class="card-title">Tarta de Queso, zuquini y Panceta sin Gluten / TACC</h3>
                        <ul>
                            <h4>Ingredientes para la masa</h4>
                            <li>280 grs. de Premezcla Universal</li>
                            <li>1 Cdta. de Goma xántica</li>
                            <li>1/2 Cdta. de Sal</li>
                            <li>140 Grs. de Manteca</li>
                            <li>1 Huevo</li>
                            <li>2 a 3 Cdas. de Agua</li>
                        </ul>

                        <ul>
                            <h4>Ingredientes para el relleno</h4>
                            <li>250 Ml. de Leche</li>
                            <li>125 Ml. de Crema de leche</li>
                            <li>4 Huevos</li>
                            <li>50 Grs. de Queso rallado</li>
                            <li>100 Grs. de Panceta feteada</li>
                            <li>1 Cebolla morada grande</li>
                            <li>1 Zucchini mediano</li>
                            <li>Pimienta negra a gusto</li>
                            <li>Manteca para saltear</li>
                        </ul>

                        <ol>
                            <h4>Elaboración (Pasos)</h4>
                            <li>Colocar la Premezcla, la Goma xántica y la Sal en un bowl y mezclar bien.</li>
                            <li>Incorporar la Manteca rallada y aplastarla con una cuchara sobre los secos. Desmenuzarla
                                con los dedos.</li>
                            <li>Batir el huevo y agregarlo, mezclar para incorporar.</li>
                            <li>Agregar las dos cucharadas de Agua y usar los dedos para integrar la masa. Armar un
                                bollo, si queda muy seco, agregar una cucharada más de agua.</li>
                            <li>Envolver la masa en film y refrigerar por 30 minutos.</li>
                            <li>Para preparar el relleno, picar la Cebolla y saltarla en Manteca, hacerlo a fuego lento
                                para que se vaya tiernizando.</li>
                            <li>Cortar con pelapapas el zucchini en lonjitas gruesas. Saltar en la sartén para quitar el
                                exceso de líquido.</li>
                            <li>Apartar y enrollar cuando estén frías.</li>
                            <li>Picar la Panceta y saltarla en la sartén hasta dorar, retirar y colocar sobre paños de
                                papel.</li>
                            <li>Estirar la masa de la tarta con palo de amasar y cubrir el fondo y los bordes de la
                                tartera. Pinchar la superficie con un tenedor. Hornear 10 minutos a 180 grados.</li>
                            <li>Para el relleno mezclar la Leche, la Crema, los Huevos y la Pimienta. Agregar el Queso,
                                la Panceta y la Cebolla y mezclar muy bien.</li>
                            <li>Rellenar la tapa de tarta precocida, finalmente colocar el Zucchini enrollado sobre el
                                relleno, hundiéndolo con los dedos para integrar.</li>
                            <li>Hornear a 160 grados de 30 a 40 minutos, hasta que esté dorada y crujiente.</li>
                            <li>Servir tibia.</li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="col receta">
                <div class="card">
                    <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/08/pechuga-de-pollo-empanizada-con-polenta-y-ensalada.jpg"
                        class="card-img-top" alt="foto de pechuga de pollo empanizada sin gluten">
                    <div class="card-body">
                        <h3 class="card-title">Pechuga de pollo empanizada con polenta y ensalada sin gluten (p/4
                            personas)</h3>
                        <ul>
                            <h4>Ingredientes</h4>
                            <li>4 milanesas gruesas de pechuga de pollo</li>
                            <li>1/2 taza de polenta</li>
                            <li>1/2 taza de harina (pre-mescla)</li>
                            <li>2 huevos</li>
                            <li>1/2 taza de queso parmesano rallado</li>
                            <li>2 manojos de espinaca baby</li>
                            <li>1/2 taza de tomates y partidos por la mitad</li>
                            <li>1/2 taza de tomates cherry, amarillos (opcional)y partidos por la mitad</li>
                            <li>1/2 cebolla morada en tiras delgadas</li>
                            <li>2 cucharadas de aceite de oliva</li>
                            <li>1 cucharada de limón</li>
                            <li>1 cucharadita de miel</li>
                            <li>1 cucharada de vinagre balsámico</li>
                            <li>3 cucharadas de aceite vegetal</li>
                        </ul>
                        <ol>
                            <h4>Elaboración (pasos)</h4>
                            <li>Salpimienta las pechugas (a gusto). Combina el queso parmesano con la polenta.</li>
                            <li>Empaniza las milanesas comenzando por la harina, luego por el huevo y finaliza en la
                                mezcla de polenta.</li>
                            <li>Dora de dos en dos en una sartén grande con el aceite vegetal. Hazlo a fuego medio
                                aproximadamente 3 minutos por lado.</li>
                            <li>Integra la cebolla, los tomates y la espinaca con el aceite de oliva, el limón, el
                                vinagre balsámico y la miel. Salpimienta ligeramente.</li>
                            <li>Sirve esta mezcla para acompañar las milanesas.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col receta">
                <div class="card">
                    <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/08/pasta-de-maiz-la-carbonara-sin-gluten.jpg"
                        class="card-img-top" alt="Foto de fideos de maiz a la carbonara sin gluten">
                    <div class="card-body">
                        <h3 class="card-title">Fideos de maiz a la carbonara sin gruten</h3>
                        <ul>
                            <h4>Ingredientes</h4>
                            <li>350 g de fetuccini de maíz</li>
                            <li>2 yemas de huevo</li>
                            <li>1 1/2 tazas de queso parmesano rallado(o queso a elección)</li>
                            <li>1/2 taza de leche</li>
                            <li>1 taza de vino blanco</li>
                            <li>150 g de panceta</li>
                            <li>Albahaca en brotes o en hojas para decorar</li>
                        </ul>
                        <ol>
                            <h4>Elaboración (pasos)</h4>
                            <li>Fríe la panceta a fuego medio. Cuando esté dorado, retira la grasa de la sartén y añade
                                el vino blanco; reduce a la mitad de su volumen; reserva y mantén caliente.</li>
                            <li>Mezcla la leche con las yemas y la mitad del queso. Reserva.</li>
                            <li>Cocine la pasta en agua hirviendo hasta que esté al dente, escúrrela y agrégala a la
                                mezcla de vino blanco. Añade la mezcla de yema, integra bien y salpimienta.</li>
                            <li>Emplata la pasta y termina con el queso parmesano y los brotes de albahaca. Sirve
                                caliente.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col receta">
                <div class="card">
                    <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2013/03/fideo-de-arroz-con-carne-molida-sin-gluten.jpg"
                        class="card-img-top" alt="Foto de fideoz de arroz con carne picada">
                    <div class="card-body">
                        <h3 class="card-title">Fideos de arroz con carne picada, sin gluten</h3>
                        <ul>
                            <h4>Ingredientes</h4>
                            <li>300 g de fideo ancho de arroz</li>
                            <li>1 zanahoria en tiras delgadas</li>
                            <li>1 taza de apio picado</li>
                            <li>1 morron en tiras delgadas</li>
                            <li>200 g de carne picada</li>
                            <li>2 cucharadas de aceite vegetal</li>
                            <li>1/2 cebolla picada</li>
                            <li>1 taza de berros pequeños (opcional)</li>
                        </ul>
                        <ol>
                            <h4>Elaboración (pasos)</h4>
                            <li>Hierve la pasta en agua con sal hasta que se suavice y luego escurrela.</li>
                            <li>Saltea las verduras, excepto los berros, con el aceite en una sartén muy caliente por 2
                                minutos. Pasado ese tiempo, llévalas a los lados y libera el centro.</li>
                            <li>Coloca la carne en ese espacio. Mézclala con las verduras una vez que cambie de color.
                            </li>
                            <li>Añade el fideo, salpimienta. Termina con los berros.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- <div class="col receta">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <ul>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ol>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col receta">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <ul>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ol>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col receta">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <ul>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ol>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col receta">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <ul>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ol>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col receta">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <ul>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ol>
                            <h4></h4>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div> -->
        </div>
        <!--Fin de row-->
    </section>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>