{{>header}}

    <!--------------------INICIO----------------------->
    <section class="home-section" id="home">
        <div class="home-bg"></div>
        <!---Fondo en moviento-->
        <!-- <div class="container">
            <nav class="login-inicio">
                <a href="./login.html">log in</a>
                <a href="signp.html">registro →</a>
            </nav> -->
            <div class="row min-vh-100 align-items-center">
                <div class="home-text ">
                    <h1 class="mb-5"> Recetas aptas para todos </h1>
                    <!-- <p class="h1-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto officia cum suscipit
                        tempora esse illum eos dolorem in, consequatur atque fugit. Alias praesentium officiis omnis
                        porro corporis doloremque sed velit.</p> -->
                    <a href="#about" class="btn btn-default">Más información...</a>
                </div>
            </div>
        </div>
    </section>
    <!--------------------INICIO fin----------------------->



    <!--------------------SOBRE NOSOTROS INICIO----------------------->

    <section class="about-section sec-padding" id="about">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 id="sobreNosotros"> Sobre nosotros </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-img">
                    <div class="img-box ">
                        <!-- <h3>Vivir sin tacc se puede</h3> -->
                        <img class="img-home"
                            src="https://www.65ymas.com/uploads/s1/11/56/94/bigstock-gluten-free-diet-concept-sel-291861787.jpeg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div class="about-text  mt-5 ">
                    <h3>Bienvenidos a Recetas para celíacos</h3>
                    <p>Les damos la bienvenida a nuestro blog informátivo para celiácos. En él podrán encontrar algunas recetas para hacerles la vida un poquito más sencilla. Alumnos de Programa Desde Tu Casa , reunieron sus conocimientos para desaarrollar este proyecto.  </p>
                    <a href="#our-menu" class="btn mt-5 btn-default btn-menu">Nuestro menú</a>
                </div>
            </div>
        </div>
    </section>
    <!--------------------SOBRE NOSOTROS FIN----------------------->


    <!-------------------MENU INICIO----------------------->
    <section class="menu" id="our-menu">        <!-- ------------------------------------------DESAYUNO------------------------------- -->
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 id="about"> Menú</h2>
                </div>
            </div>
            <div class="row">
                <div class="section-title2">
                    <h2 id="desayuno">&mdash; Desayuno &mdash; </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">

                    <div class="card-header">
                        <h4>Alfajores de maicena sin TACC</h4>
                        <img src="https://scm-assets.constant.co/scm/unilever/2bb5223be0548fcc55c230aa5f951219/ce65930b-bc22-4bf3-9aa8-1e6b2708f982.png"
                            alt="">
                    </div>
                    <div class="card-body ">

                        <a href="./desayuno.html" class="btn">Más...</a>
                    </div>

                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">

                    <div class="card-header">
                        <h4>Brownies sin TACC ni azúcar agregada</h4>
                        <img src="https://www.soyceliaconoextraterrestre.com/wp-content/uploads/2020/10/brownie-sin-harina-y-sin-tacc.jpg"
                            alt="">
                    </div>
                    <div class="card-body">

                        <a href="./desayuno.html" class="btn">Más...</a>
                    </div>

                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">
                    <div class="card-header">
                        <h4>Torta de chocolate sin TACC</h4>
                        <img src="https://i.blogs.es/43147f/tarta-de-chocolate-sin-gluten-de-cristina-oria/1366_2000.jpg"
                            alt="">
                    </div>
                    <div class="card-body">

                        <a href="./desayuno.html" class="btn">Más...</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ----------------------------ALMUERZO-------------------------------------- -->
        <div class="container">
            <div class="row">
                <div class="section-title2">
                    <h2 id="almuerzo">&mdash; Almuerzo &mdash; </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">
                    <div class="card-header ">
                        <h4>Tapas de empanadas sin TACC</h4>
                        <img src="https://www.mendozapost.com/files/image/291/291238/602285eba59ff.jpg" alt="">
                    </div>
                    <div class="card-body">

                        <a href="./almuerzo.html" class="btn">Más...</a>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">
                    <div class="card-header">
                        <h4>Tarta de queso y cebolla</h4>
                        <img src="https://badun.nestle.es/imgserver/v1/80/1290x742/tarta-de-cebolla-y-queso.jpg"
                            alt="imagen de una porcion de tarta de queso y cebolla">
                    </div>
                    <div class="card-body">

                        <a href="./almuerzo.html" class="btn">Más...</a>
                    </div>

                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">

                    <div class="card-header">
                        <h4>Pizza sin gluten/TACC</h4>
                        <img src="https://estaticos.serpadres.es/media/cache/1140x_thumb/uploads/images/recipe/5d09f9bf5cafe83a69f1f7f0/pizza-sin-gluten_0.jpg"
                            alt="imagen de una pizza sin gluten/TACC">
                    </div>
                    <div class="card-body">

                        <a href="./almuerzo.html" class="btn">Más...</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- -------------------------------------------CENA----------------------------- -->
        <div class="container">
            <div class="row">
                <div class="section-title2">
                    <h2 id="cena">&mdash; Cena &mdash; </h2>
                </div>
            </div>
            <div class="row">

                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">

                    <div class="card-header">
                        <h4>Tarta de Queso, Zucchini y Panceta sin Gluten / TACC</h4>
                        <img src="https://srecetas.es/system/images/902/full.61293.jpg"
                            alt="imagen de porciones de tartas de queso, zuquini y panceta">
                    </div>
                    <div class="card-body">

                        <a href="./cena.html" class="btn">Más...</a>
                    </div>

                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">
                    <div class="card-header">
                        <h4>Fideos de maiz a la carbonara</h4>
                        <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/08/pasta-de-maiz-la-carbonara-sin-gluten.jpg"
                            alt="">
                    </div>
                    <div class="card-body">

                        <a href="./cena.html" class="btn">Más...</a>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-lg-3 col-xl-3 card">
                    <div class="card-header">
                        <h4>Pechuga de pollo empanizada con polenta (4/personas)</h4>
                        <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/08/pechuga-de-pollo-empanizada-con-polenta-y-ensalada.jpg"
                            alt="">
                    </div>
                    <div class="card-body">
                        <a href="./cena.html" class="btn">Más...</a>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
    {{>footer}}