{{>header}}

    <!-- ------------------Cuerpo--------------------- -->

     <!-- ------------------Cuerpo--------------------- -->

    <div id="mapid"></div>


    <section class="container px-4 py-5" id="featured-3">
        <h2 class=" tiendasListas text-center">Diet茅ticas</h2>
        <h3 class=" border-bottom tiendasListas" id="caba">CABA</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">            
            <div class="feature col tiendaNombre">
                <h5>Diet茅tica Rojas</h5>
                <p>Direcci贸n: Rojas 12, CABA. <br>
                    锔 Tel茅fono: 011 4902-9975
                </p>
                <a href="https://g.page/dieteticarojas?share" target="_blank" class="icon-link links">
                    Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">
                <h5>Gran Diet茅tica</h5>
                <p>Direcci贸n: Curapalig眉e 770, CABA. <br>
                    锔 Tel茅fono: 011 6954-1126</p>
                <a href="https://goo.gl/maps/3dBTM6gNnepbszW2A" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">
                <h5>La Floresta</h5>
                <p>Direcci贸n: Av. Rivadavia 8357, CABA. <br>
                    锔 Tel茅fono: 011 4672-1979 </p>
                <a href="https://goo.gl/maps/V1PrVJxSRsXPTJwc6" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica Viamonte</h5>
                <p>Direcci贸n: Viamonte 859, C1053 CABA. <br>
                    锔 Tel茅fono: 011 4322-9380 </p>
                <a href="https://goo.gl/maps/YSTnM4kjouPTP7B1A" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Dieteticas Tomy</h5>
                <p>Direcci贸n: Av. Rivadavia 7390, CABA <br>
                    锔 Tel茅fono: Sin informaci贸n</p>
                <a href="https://goo.gl/maps/3CXyESKQ7btdPB5fA" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
        </div>
        <!--Comienzo de zona Norte-->
        <h3 class="pb-2 border-bottom tiendasListas" id="norte">Zona Norte</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col tiendaNombre">

                <h5>Dieteticas Tomi</h5>
                <p>Direcci贸n: Av. Maip煤 201, Vicente L贸pez. <br>
                    锔 Tel茅fono: 011 4719-7600
                </p>
                <a href="https://goo.gl/maps/gBaN6b8tQGzNw2Pm6" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Dietetica Se帽or Sol</h5>
                <p> Direcci贸n: Av. Maip煤 3239, Vicente L贸pez. <br>
                    锔 Tel茅fono: 011 4799-5548</p>
                <a href="https://goo.gl/maps/1ovyGV2ToVjUwf4V8" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Nutralgica</h5>
                <p> Direcci贸n: Corrientes 681, Olivos.<br>
                    锔 Tel茅fono: 011 4711-3909</p>
                <a href="https://goo.gl/maps/MR1E1yPRc313SYcKA" target="_blank" class="icon-link tiendalinksNombre">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>La Nueva diet茅tica</h5>
                <p> Direcci贸n: Av. de Mayo 893, zona norte. <br>
                    锔 Tel茅fono: 011 4711-3909</p>
                <a href="https://goo.gl/maps/e9TW2FYNCNH7w19G6" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Sanas Del铆cias</h5>
                <p> Direcci贸n: Av. Centenario 416, San Isidro.<br>
                    锔 Tel茅fono: 011 4732-0916</p>
                <a href="https://goo.gl/maps/vPSbHXRrrdwir92C8" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica Arenales</h5>
                <p> Direcci贸n: Arenales 2040, Mart铆nez.<br>
                    锔 Tel茅fono: 011 4798-2087</p>
                <a href="https://goo.gl/maps/bEo9NCPih4Knq7vf6" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>

        </div>
        <!--fIN zona norte-->

        <!--Comienzo de zona oeste-->
        <h3 class="pb-2 border-bottom tiendasListas" id="oeste">Zona Oeste</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica Nomadas</h5>
                <p> Direcci贸n: Marcos de Bueno 530, Moreno.<br>
                    锔 Tel茅fono: Sin informaci贸n.
                </p>
                <a href="https://goo.gl/maps/6mzkSNB62EumboMq5" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica Pepita y Sesamo</h5>
                <p> Direcci贸n: Claudio Mar铆a Joly 2888, Moreno.<br>
                    锔 Tel茅fono: 011 4144-9016</p>
                <a href="https://goo.gl/maps/YYntLgPKYpmGRsur6" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Buen d铆a, d铆a</h5>
                <p> Direcci贸n: Av. Gdor. Vergara 4088, Hurlingham.<br>
                    锔 Tel茅fono: 011 3765-8244</p>
                <a href="https://goo.gl/maps/ie7PbnXaHVatoCEF8" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica La Aldea</h5>
                <p> Direcci贸n: Av. Gdor. Vergara 3223, Hurlingham. <br>
                    锔 Tel茅fono: 011 7395-5997</p>
                <a href="https://goo.gl/maps/Hc4fTGBELfzSafHE8" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica La Mezcla</h5>
                <p> Direcci贸n: Av. Pres. Dr. Arturo Umberto Illia 2494, San Justo.<br>
                    锔 Tel茅fono: 011 4441-2185</p>
                <a href="https://goo.gl/maps/dCUimStaywidHHQ97" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Fuerza Natural Diet茅tica</h5>
                <p> Direcci贸n: Rep煤blica de Portugal 2450, Isidro Casanova<br>
                    锔 Tel茅fono: Sin informaci贸n </p>
                <a href="https://g.page/almacenfuerzanatural?share" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
        </div>
        <!--Comienzo de zona Sur-->


        <h3 class="pb-2 border-bottom tiendasListas" id="sur">Zona Sur</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica Lola</h5>
                <p> Direcci贸n: Av. Eva Per贸n 4430, Florencio Varela.<br>
                    锔 Tel茅fono: 011 5976-9922
                </p>
                <a href="https://goo.gl/maps/oeP8FuUwfac4VV2r9" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Alimnat</h5>
                <p> Direcci贸n: Fabi谩n Onsari 1481, Wilde.<br>
                    锔 Tel茅fono: 011 3874-4352</p>
                <a href="https://g.page/ProAlimNat?share" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Almac茅n Conciente</h5>
                <p> Direcci贸n: Av. Conquista del desierto 127, Ezeiza.<br>
                    锔 Tel茅fono: Sin informaci贸n</p>
                <a href="https://goo.gl/maps/5i7AmUSE1HHLWvVz9" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>La Naturaleza Diet茅tica & Herborista</h5>
                <p> Direcci贸n: Av. 14 3161, Berazategui.<br>
                    锔 Tel茅fono: 011 4226-8833</p>
                <a href="https://g.page/camidasana?share" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <div class="feature col tiendaNombre">

                <h5>Diet茅tica El Ceibo</h5>
                <p> Direcci贸n: Av. Mitre 984, Quilmes.<br>
                    锔 Tel茅fono: 011 4224-8469</p>
                <a href="https://goo.gl/maps/51oJKTz5bqQQLYD97" target="_blank" class="icon-link links">
                     Ver en mapa
                </a>
            </div>
            <!-- <div class="feature col tiendaNombre">

                <h5></h5>
                <p> Direcci贸n: .<br>
                    锔 Tel茅fono: </p>
                    <a href="#" target="_blank"class="icon-link links">
                         Ver en mapa
                    </a>
            </div> -->
        </div>

    </section>
    <!--Fin del container dieteticas-->
    <!--------------------Fin cuerpo----------------------->

    {{>footer}}
