* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-contacto{
    font-family: sans-serif;
    background-image: url(/img/fondo-contacto.jpeg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    position: absolute;
    width: 100vw;
    z-index: -10;
}
.bg-send{
    font-family: sans-serif;
    background-color: rgba(151, 147, 147, 0.171);
    background-image: url(../img/message.png);
    background-position: center center;
    background-repeat:no-repeat;
    height: 100vh;
    z-index: 1;
}

.formulario {
    width:500px;
    max-width: 100%;
    max-width: auto;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0 ,0, 0,0.3);
    position: relative;
    background-color: rgba(240, 248, 255, 0.726);
}

.formulario-titulo{
    text-align: center;
    margin-top: 0;
    color: green;

}

.formulario-input ,.formulario-label, .formulario-submit {
    display: block;
    width: 100%; 
    font-size: 1.1rem;
    
}
.formulario-input {
    padding: 20px;
    background: rgba(0 ,0, 0,0.1);
    border: 1px solid rgba(0 ,0, 0,0.3);
    margin-bottom: 40px;
}
.formulario-input:focus {
    outline:none;
    border-bottom: 1px solid green;
}
.formulario-input:focus + .formulario-label {
    margin-top: -135px;
    z-index: 0;
    color: green;
}


.formulario-label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: black;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.formulario-submit {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.fijar {
    margin-top: -135px;
    color: green;
    z-index: 1;
}

.content-send {
    text-align: center;
    margin-top: 10rem;
}
.btn-send{
    max-width: 300px;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

#errName, #errEmail, #errTel, #errMsj{
    position: absolute;
    z-index: 2;
    margin-top: -2.4rem;
    color: red;
    font-size: 0.7rem;
}